{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ],
  "ignore": ["node_modules", "build"]
}
